h1 {
    color: var(--clr-main);
    text-align: center;
    margin: 2rem 0;
    font-size: 1.5rem;
}

h3 {
    color: var(--clr-secondary);
    text-align: center;
    font-size: 1rem;

}



@media (min-width: 468px) {
    h1 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.2rem;
    }
}